body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;

}

#root {
  width: 600px;
  padding: 20px;
  background-color: #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 3px solid #000;
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.controls button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border: 3px solid #000;
}

.controls input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 3px solid #000;
  border-radius: 8px;
  font-size: 16px;
}

.todo-item {
  background-color: #ddd;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 5px;
}

.todo-item .complete-button,
.todo-item .delete-button {
  padding: 8px 12px;
  border: 3px solid #000;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  max-width: 50px;
  grid-area: cell2;}

.todo-item .todo-text {
  flex-grow: 1;
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 10px;
  color: #777;
}

.todo-item .date {
  font-size: 0.8em;
  color: #777;
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
  grid-area: cell3;
}

.todo-item.completed .todo-text {
  text-decoration: line-through;
}

.date-delete-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);;
  grid-template-areas: "cell1 cell2"  
                       "cell3 cell3";
  row-gap: 10px;
}