.single-post__page {
  padding: 2rem;
  text-align: left;
}

.single-post__header {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}

.single-post__image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 1rem;
}

.single-post__bookmark {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
}

.single-post__date {
  text-align: right;
  margin-bottom: 1.5 rem;
}

.single-post h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}