#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  background-color: #001e5a;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-button {
  background-color: #61dafb;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.primary-button:hover {
  background-color: #21a1f1;
}

.secondary-button {
  padding: 0.5rem;
  font-size: 0.9rem;
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
}

.secondary-button:hover {
  background-color: #007bff;
  color: white;
}


/* Light Theme */
.light-theme {
  background-color: #ffffff;
  color: #333333;
}

.light-theme .app-header {
  background-color: #282c34;
  color: white;
}

.light-theme .app-main {
  background-color: #f9f9f9;
}

.light-theme .app-footer {
  background-color: #282c34;
  color: white;
}

/* Dark Theme */
.dark-theme {
  background-color: #1a1a1a;
  color: #e0e0e0;
}

.dark-theme .app-header {
  background-color: #000000;
  color: #e0e0e0;
}

.dark-theme .app-main {
  background-color: #2d2d2d;
}

.dark-theme .app-footer {
  background-color: #000000;
  color: #e0e0e0;
}


